In [23]:
import pickle
import pandas as pd
import sklearn
from sklearn.metrics import f1_score

pd.set_option("max_colwidth", 80)

In [24]:
# filename = 'pix2pix_seed_22_test_latest_cropped'
# filename = 'psgan_seed_12_test_latest_cropped'
filename = 'single_stage_seed_12_val_best_cropped'
# filename = 'two_stage_seed_12_test_best_cropped'


# [((target, image), dist), ..., ()]


### GENERATED -- ORIGINAL
if 'val' in filename:
    filename_generated_original = 'saved_distances/' + 'distances__datasets_1200_w40_final_images_val_cropped__' + filename + '.pkl'
elif 'test' in filename:
    filename_generated_original = 'saved_distances/' + 'distances__datasets_1200_w40_final_images_test_cropped__' + filename + '.pkl'

with open(filename_generated_original, 'rb') as f:
    gen_orig_distances = pickle.load(f)

### GENERATED -- TRAIN
filename_generated_train = 'saved_distances/' + 'distances__datasets_1200_w40_final_images_train_cropped__' + filename + '.pkl'
with open(filename_generated_train, 'rb') as f:
    gen_train_distances = pickle.load(f)
    
    
### GENERATED -- GENERATED
filename_generated_generated = 'saved_distances/' + 'distances__' + filename + '__.pkl'
with open(filename_generated_generated, 'rb') as f:
    gen_gen_distances = pickle.load(f)

### THRESHOLD

In [25]:
threshold = 0.22

## GENERATED -- ORIGINAL

In [26]:
## out of all matches, what percentage are below threshold

gen_orig_dist_df = pd.DataFrame(gen_orig_distances)
gen_orig_dist_df.head()
try:
    gen_orig_dist_df[['target', 'image']] = pd.DataFrame(gen_orig_dist_df[0].tolist(), index=gen_orig_dist_df.index)
    gen_orig_dist_df = gen_orig_dist_df.rename(columns={0: "data", 1: "dist"})
except:
    pass
gen_orig_dist_df['match'] = gen_orig_dist_df['target'] == gen_orig_dist_df['image']
# gen_orig_dist_df['rank'] = 
gen_orig_dist_df['below'] = gen_orig_dist_df['dist'] < threshold

gen_orig_dist_match_df = gen_orig_dist_df[gen_orig_dist_df['match'] == True]
gen_orig_dist_match_df.head(5)

,data,dist,target,image,match,below
48,"(tubingen_000087_000019_0, tubingen_000087_000019_0)",0.3063,tubingen_000087_000019_0,tubingen_000087_000019_0,True,False
77,"(dusseldorf_000113_000019_7, dusseldorf_000113_000019_7)",0.3186,dusseldorf_000113_000019_7,dusseldorf_000113_000019_7,True,False
112,"(monchengladbach_000000_021663_0, monchengladbach_000000_021663_0)",0.3288,monchengladbach_000000_021663_0,monchengladbach_000000_021663_0,True,False
124,"(aachen_000024_000019_0, aachen_000024_000019_0)",0.3305,aachen_000024_000019_0,aachen_000024_000019_0,True,False
190,"(erfurt_000082_000019_14, erfurt_000082_000019_14)",0.3406,erfurt_000082_000019_14,erfurt_000082_000019_14,True,False

In [27]:
gen_orig_dist_match_df[gen_orig_dist_match_df['target'] == 'hamburg_000000_067338_4']

Empty DataFrame
Columns: [data, dist, target, image, match, below]
Index: []

#### Percent of gen-original images with dist below threshold

In [28]:
num_matches = len(gen_orig_dist_match_df)
print('num_matches')
print(num_matches)
num_matches_below_threshold = len(gen_orig_dist_match_df[gen_orig_dist_match_df['below'] == True])
print('num_matches_below_threshold')
print(num_matches_below_threshold)

percent_not_anonymized = round(num_matches_below_threshold / num_matches, 3)
print('----------------------------')
print('percent_not_anonymized')
print(percent_not_anonymized)
print('----------------------------')

display(gen_orig_dist_match_df[gen_orig_dist_match_df['below'] == True])
print(list(gen_orig_dist_match_df[gen_orig_dist_match_df['below'] == True]['target'].unique()))

num_matches
120
num_matches_below_threshold
0
----------------------------
percent_not_anonymized
0.0
----------------------------

Empty DataFrame
Columns: [data, dist, target, image, match, below]
Index: []

[]

#### Recall @ Rank 1

In [29]:
gen_orig_distances[0]

(('bremen_000314_000019_10', 'aachen_000154_000019_0'), 0.2044)

In [30]:
gen_orig_dist_df.sort_values(by=['dist'])
rank1_gen_orig_dist_df = gen_orig_dist_df.drop_duplicates(subset=['target'])
rank1_gen_orig_dist_df

print('num_matches')
print(num_matches)

num_rank1_matches = len(rank1_gen_orig_dist_df[rank1_gen_orig_dist_df['match'] == True])
print('num_rank1_matches')
print(num_rank1_matches)
recall_rank_1 = round(num_rank1_matches / num_matches, 3)

print('----------------------------')
print('recall@rank1')
print(recall_rank_1)
print('----------------------------')

rank1_gen_orig_dist_df[rank1_gen_orig_dist_df['match'] == True]
print(list(rank1_gen_orig_dist_df[rank1_gen_orig_dist_df['match'] == True]['target'].unique()))
display(rank1_gen_orig_dist_df[rank1_gen_orig_dist_df['match'] == True]['target'])

num_matches
120
num_rank1_matches
4
----------------------------
recall@rank1
0.033
----------------------------
['tubingen_000087_000019_0', 'monchengladbach_000000_021663_0', 'aachen_000024_000019_0', 'aachen_000154_000019_0']

48            tubingen_000087_000019_0
112    monchengladbach_000000_021663_0
124             aachen_000024_000019_0
293             aachen_000154_000019_0
Name: target, dtype: object

In [31]:
(1/1200 * 120) / 120
1/1200

0.0008333333333333334

In [32]:
print(list(rank1_gen_orig_dist_df[rank1_gen_orig_dist_df['match'] == True]['target']))

['tubingen_000087_000019_0', 'monchengladbach_000000_021663_0', 'aachen_000024_000019_0', 'aachen_000154_000019_0']

## GENERATED -- TRAIN

In [33]:
## out of all pairs, what percentage are below threshold


gen_train_dist_df = pd.DataFrame(gen_train_distances)
gen_train_dist_df.head()
try:
    gen_train_dist_df[['target', 'image']] = pd.DataFrame(gen_train_dist_df[0].tolist(), index=gen_train_dist_df.index)
    gen_train_dist_df = gen_train_dist_df.rename(columns={0: "data", 1: "dist"})
except:
    pass
gen_train_dist_df['match'] = gen_train_dist_df['target'] == gen_train_dist_df['image']
gen_train_dist_df['below'] = gen_train_dist_df['dist'] < threshold

In [34]:
gen_train_dist_df.head()

,data,dist,target,image,match,below
0,"(erfurt_000063_000019_1, krefeld_000000_023698_2)",0.1895,erfurt_000063_000019_1,krefeld_000000_023698_2,False,True
1,"(frankfurt_000001_012519_8, aachen_000033_000019_4)",0.2039,frankfurt_000001_012519_8,aachen_000033_000019_4,False,True
2,"(bochum_000000_011255_2, bremen_000082_000019_2)",0.2105,bochum_000000_011255_2,bremen_000082_000019_2,False,True
3,"(zurich_000072_000019_31, bochum_000000_003674_1)",0.2112,zurich_000072_000019_31,bochum_000000_003674_1,False,True
4,"(jena_000090_000019_2, aachen_000033_000019_4)",0.2152,jena_000090_000019_2,aachen_000033_000019_4,False,True

#### Percent of gen-train images with dist below threshold

In [35]:
num_gen_images = len(gen_train_dist_df['target'].unique())
print('num_gen_images', num_gen_images)

gen_train_pairs_below_df = gen_train_dist_df[gen_train_dist_df['below'] == True]
num_gen_images_copied_from_train = len(gen_train_pairs_below_df['target'].unique())
print('num_gen_images_copied_from_train', num_gen_images_copied_from_train)


percent_gen_similar_to_train = round(num_gen_images_copied_from_train / num_gen_images, 3)
print('----------------------------')
print('percent_gen_similar_to_train')
print(percent_gen_similar_to_train)
print('----------------------------')

display(gen_train_pairs_below_df)
print('---')
closest_gen_train_pairs_below_df = list(gen_train_pairs_below_df['data'].unique())[:10]
print(closest_gen_train_pairs_below_df)
print('---')
print(list(set([i for x in closest_gen_train_pairs_below_df for i in x])))

num_gen_images 120
num_gen_images_copied_from_train 6
----------------------------
percent_gen_similar_to_train
0.05
----------------------------

,data,dist,target,image,match,below
0,"(erfurt_000063_000019_1, krefeld_000000_023698_2)",0.1895,erfurt_000063_000019_1,krefeld_000000_023698_2,False,True
1,"(frankfurt_000001_012519_8, aachen_000033_000019_4)",0.2039,frankfurt_000001_012519_8,aachen_000033_000019_4,False,True
2,"(bochum_000000_011255_2, bremen_000082_000019_2)",0.2105,bochum_000000_011255_2,bremen_000082_000019_2,False,True
3,"(zurich_000072_000019_31, bochum_000000_003674_1)",0.2112,zurich_000072_000019_31,bochum_000000_003674_1,False,True
4,"(jena_000090_000019_2, aachen_000033_000019_4)",0.2152,jena_000090_000019_2,aachen_000033_000019_4,False,True
5,"(frankfurt_000001_073911_0, hanover_000000_027766_17)",0.2168,frankfurt_000001_073911_0,hanover_000000_027766_17,False,True

---
[('erfurt_000063_000019_1', 'krefeld_000000_023698_2'), ('frankfurt_000001_012519_8', 'aachen_000033_000019_4'), ('bochum_000000_011255_2', 'bremen_000082_000019_2'), ('zurich_000072_000019_31', 'bochum_000000_003674_1'), ('jena_000090_000019_2', 'aachen_000033_000019_4'), ('frankfurt_000001_073911_0', 'hanover_000000_027766_17')]
---
['krefeld_000000_023698_2', 'frankfurt_000001_012519_8', 'aachen_000033_000019_4', 'frankfurt_000001_073911_0', 'erfurt_000063_000019_1', 'jena_000090_000019_2', 'bochum_000000_011255_2', 'bochum_000000_003674_1', 'hanover_000000_027766_17', 'bremen_000082_000019_2', 'zurich_000072_000019_31']

In [43]:
gen_train_pairs_below_df[gen_train_pairs_below_df['target'] == 'hamburg_000000_067338_4']

gen_train_dist_df[gen_train_dist_df['target'] == 'frankfurt_000001_013016_16'].head(10)  ## face copy example - our single_stage model seed 12

,data,dist,target,image,match,below
282,"(frankfurt_000001_013016_16, cologne_000095_000019_3)",0.2853,frankfurt_000001_013016_16,cologne_000095_000019_3,False,False
372,"(frankfurt_000001_013016_16, hanover_000000_026356_9)",0.2927,frankfurt_000001_013016_16,hanover_000000_026356_9,False,False
391,"(frankfurt_000001_013016_16, hamburg_000000_033506_9)",0.2937,frankfurt_000001_013016_16,hamburg_000000_033506_9,False,False
503,"(frankfurt_000001_013016_16, munster_000062_000019_16)",0.3000,frankfurt_000001_013016_16,munster_000062_000019_16,False,False
558,"(frankfurt_000001_013016_16, hamburg_000000_044400_2)",0.3025,frankfurt_000001_013016_16,hamburg_000000_044400_2,False,False
575,"(frankfurt_000001_013016_16, stuttgart_000102_000019_6)",0.3033,frankfurt_000001_013016_16,stuttgart_000102_000019_6,False,False
602,"(frankfurt_000001_013016_16, erfurt_000084_000019_0)",0.3046,frankfurt_000001_013016_16,erfurt_000084_000019_0,False,False
931,"(frankfurt_000001_013016_16, stuttgart_000182_000019_21)",0.3166,frankfurt_000001_013016_16,stuttgart_000182_000019_21,False,False
1014,"(frankfurt_000001_013016_16, frankfurt_000001_054077_4)",0.3185,frankfurt_000001_013016_16,frankfurt_000001_054077_4,False,False
1262,"(frankfurt_000001_013016_16, strasbourg_000001_052840_2)",0.3249,frankfurt_000001_013016_16,strasbourg_000001_052840_2,False,False

## GENERATED -- GENERATED

In [37]:
# ## out of all gen pairs, what percentage are below threshold (ignore matches)

gen_gen_dist_df = pd.DataFrame(gen_gen_distances)
gen_gen_dist_df.head()
try:
    gen_gen_dist_df[['target', 'image']] = pd.DataFrame(gen_gen_dist_df[0].tolist(), index=gen_gen_dist_df.index)
    gen_gen_dist_df = gen_gen_dist_df.rename(columns={0: "data", 1: "dist"})
except:
    pass
gen_gen_dist_df['match'] = gen_gen_dist_df['target'] == gen_gen_dist_df['image']
gen_gen_dist_df['below'] = gen_gen_dist_df['dist'] < threshold
gen_gen_dist_nonmatch_df = gen_gen_dist_df[gen_gen_dist_df['match'] == False]
gen_gen_dist_nonmatch_df.head()

,data,dist,target,image,match,below
120,"(aachen_000018_000019_12, bremen_000314_000019_9)",0.1003,aachen_000018_000019_12,bremen_000314_000019_9,False,True
121,"(aachen_000018_000019_12, aachen_000018_000019_10)",0.1325,aachen_000018_000019_12,aachen_000018_000019_10,False,True
122,"(aachen_000154_000019_0, aachen_000154_000019_1)",0.1381,aachen_000154_000019_0,aachen_000154_000019_1,False,True
123,"(ulm_000019_000019_6, cologne_000018_000019_6)",0.1439,ulm_000019_000019_6,cologne_000018_000019_6,False,True
124,"(bochum_000000_001828_0, weimar_000053_000019_1)",0.1505,bochum_000000_001828_0,weimar_000053_000019_1,False,True

In [38]:
num_gen_images = len(gen_gen_dist_df['target'].unique())
print('num_gen_images', num_gen_images)

gen_gen_pairs_below_df = gen_gen_dist_nonmatch_df[gen_gen_dist_nonmatch_df['below'] == True]
num_gen_images_with_shared_identity = len(gen_gen_pairs_below_df['target'].unique())
print('num_gen_images_with_shared_identity', num_gen_images_with_shared_identity)

percent_gen_with_shared_identity = round(num_gen_images_with_shared_identity / num_gen_images, 3)
print('----------------------------')
print('percent_gen_with_shared_identity')
print(percent_gen_with_shared_identity)
print('----------------------------')

display(gen_gen_pairs_below_df.head(10))
print('---')
closest_gen_gen_pairs_below_df = list(gen_gen_pairs_below_df['data'].unique())[:10]
print(closest_gen_gen_pairs_below_df)
print('---')
print(list(set([i for x in closest_gen_gen_pairs_below_df for i in x])))

num_gen_images 120
num_gen_images_with_shared_identity 39
----------------------------
percent_gen_with_shared_identity
0.325
----------------------------

,data,dist,target,image,match,below
120,"(aachen_000018_000019_12, bremen_000314_000019_9)",0.1003,aachen_000018_000019_12,bremen_000314_000019_9,False,True
121,"(aachen_000018_000019_12, aachen_000018_000019_10)",0.1325,aachen_000018_000019_12,aachen_000018_000019_10,False,True
122,"(aachen_000154_000019_0, aachen_000154_000019_1)",0.1381,aachen_000154_000019_0,aachen_000154_000019_1,False,True
123,"(ulm_000019_000019_6, cologne_000018_000019_6)",0.1439,ulm_000019_000019_6,cologne_000018_000019_6,False,True
124,"(bochum_000000_001828_0, weimar_000053_000019_1)",0.1505,bochum_000000_001828_0,weimar_000053_000019_1,False,True
125,"(frankfurt_000001_054415_0, darmstadt_000041_000019_5)",0.1511,frankfurt_000001_054415_0,darmstadt_000041_000019_5,False,True
126,"(cologne_000042_000019_5, erfurt_000001_000019_1)",0.1525,cologne_000042_000019_5,erfurt_000001_000019_1,False,True
127,"(frankfurt_000001_054415_4, darmstadt_000041_000019_5)",0.1545,frankfurt_000001_054415_4,darmstadt_000041_000019_5,False,True
128,"(tubingen_000114_000019_0, hanover_000000_038773_3)",0.1548,tubingen_000114_000019_0,hanover_000000_038773_3,False,True
129,"(aachen_000018_000019_10, bremen_000314_000019_9)",0.1603,aachen_000018_000019_10,bremen_000314_000019_9,False,True

---
[('aachen_000018_000019_12', 'bremen_000314_000019_9'), ('aachen_000018_000019_12', 'aachen_000018_000019_10'), ('aachen_000154_000019_0', 'aachen_000154_000019_1'), ('ulm_000019_000019_6', 'cologne_000018_000019_6'), ('bochum_000000_001828_0', 'weimar_000053_000019_1'), ('frankfurt_000001_054415_0', 'darmstadt_000041_000019_5'), ('cologne_000042_000019_5', 'erfurt_000001_000019_1'), ('frankfurt_000001_054415_4', 'darmstadt_000041_000019_5'), ('tubingen_000114_000019_0', 'hanover_000000_038773_3'), ('aachen_000018_000019_10', 'bremen_000314_000019_9')]
---
['weimar_000053_000019_1', 'aachen_000154_000019_1', 'bremen_000314_000019_9', 'ulm_000019_000019_6', 'cologne_000018_000019_6', 'frankfurt_000001_054415_0', 'aachen_000018_000019_12', 'aachen_000154_000019_0', 'aachen_000018_000019_10', 'darmstadt_000041_000019_5', 'cologne_000042_000019_5', 'hanover_000000_038773_3', 'tubingen_000114_000019_0', 'bochum_000000_001828_0', 'frankfurt_000001_054415_4', 'erfurt_000001_000019_1']

### RESULTS

In [39]:
print('percent_not_anonymized')
print('recall@rank1')
print('percent_gen_similar_to_train')
print('percent_gen_with_shared_identity')
print()

print(percent_not_anonymized)
print(recall_rank_1)
print(percent_gen_similar_to_train)
print(percent_gen_with_shared_identity)

percent_not_anonymized
recall@rank1
percent_gen_similar_to_train
percent_gen_with_shared_identity

0.0
0.033
0.05
0.325

In [40]:
print(percent_not_anonymized, recall_rank_1, percent_gen_similar_to_train, percent_gen_with_shared_identity)

0.0 0.033 0.05 0.325

In [41]:
pd.DataFrame([recall_rank_1, percent_not_anonymized, percent_gen_similar_to_train, percent_gen_with_shared_identity], index=['recall_rank_1', 'perc_not_anonymized', 'perc_gen_similar_to_train', 'perc_gen_with_shared_identity'], columns=['A']).T

,recall_rank_1,perc_not_anonymized,perc_gen_similar_to_train,perc_gen_with_shared_identity
A,0.033,0.0,0.05,0.325