In [3]:
import pickle
import pandas as pd
import sklearn
from sklearn.metrics import f1_score

In [4]:
# [((target, image), dist), ..., ()]
filename = 'torchreid_cosine_distance__saved_features_torchreid_datasets_1200_w40_solid_cropped_train__datasets_1200_w40_solid_images_select_cropped.pkl'
# filename = 'torchreid_cosine_distance__saved_features_torchreid_datasets_1200_w40_solid_cropped_train__saved_features_torchreid__datasets_1200_w40_solid_images_train_overfit.pkl'
with open(filename, 'rb') as f:
    distances = pickle.load(f)

In [5]:
len(distances)

130800

In [6]:
distances[0]

(('frankfurt_000001_057954_0', 'frankfurt_000001_057954_0'), 0.0885)

In [7]:
distances[-1]

(('erfurt_000050_000019_4', 'jena_000019_000019_0'), 0.6987)

### MATCHES

In [8]:
# [(target==image, dist), ..., ()]

matches = [(tup[0][0], tup[1]) for tup in distances if tup[0][0] == tup[0][1]]

In [9]:
len(matches)

109

In [10]:
print(matches[0])
print(matches[-1])

('frankfurt_000001_057954_0', 0.0885)
('bremen_000100_000019_9', 0.3843)

### IMAGES

In [11]:
images = [x[0] for x in matches]
print(images[0])

frankfurt_000001_057954_0

### MATCH RANK

In [12]:
distances_dict = {image:[] for image in images}
for pair in distances:
    distances_dict[pair[0][0]].append((pair[0][1], pair[1]))
    
# print(image_distances)

In [13]:
x = distances_dict['frankfurt_000001_057954_0']
# x

In [14]:
# k = sorted(x, key=lambda y: y[1], reverse=True)
# k

In [15]:
match_ranks = {}
for target in images:
    target_distances = sorted(distances_dict[target], key=lambda x: x[1], reverse=False) # confirm list is sorted (ascending)
    images_ranked = [img[0] for img in target_distances] # get list of image names in ascending order
    match_ranks[target] = images_ranked.index(target) # get rank of target-image match

In [16]:
match_ranks

{'frankfurt_000001_057954_0': 0,
 'frankfurt_000001_010600_1': 0,
 'aachen_000111_000019_19': 0,
 'jena_000000_000019_1': 0,
 'jena_000027_000019_7': 0,
 'bremen_000257_000019_3': 0,
 'bremen_000208_000019_4': 0,
 'aachen_000019_000019_14': 0,
 'frankfurt_000001_007857_2': 0,
 'bremen_000261_000019_1': 0,
 'frankfurt_000000_009969_5': 0,
 'frankfurt_000001_055387_5': 0,
 'hanover_000000_048379_5': 0,
 'hamburg_000000_096624_6': 0,
 'hamburg_000000_053563_35': 0,
 'dusseldorf_000078_000019_2': 0,
 'hanover_000000_028202_3': 0,
 'bremen_000287_000019_7': 0,
 'hanover_000000_013814_10': 0,
 'frankfurt_000001_028854_7': 0,
 'cologne_000129_000019_8': 0,
 'hamburg_000000_022524_3': 0,
 'bremen_000099_000019_9': 0,
 'hanover_000000_044344_1': 0,
 'dusseldorf_000045_000019_1': 0,
 'frankfurt_000000_022254_0': 0,
 'hanover_000000_013205_2': 0,
 'aachen_000048_000019_15': 0,
 'frankfurt_000001_055306_7': 0,
 'frankfurt_000001_007857_1': 0,
 'frankfurt_000000_011461_1': 0,
 'aachen_000100_000019_10': 0,
 'hamburg_000000_039546_41': 0,
 'hamburg_000000_079657_0': 0,
 'aachen_000138_000019_4': 0,
 'frankfurt_000001_025512_6': 0,
 'frankfurt_000001_046272_1': 0,
 'hanover_000000_028202_2': 0,
 'cologne_000126_000019_8': 0,
 'erfurt_000059_000019_1': 0,
 'frankfurt_000001_028335_1': 0,
 'bremen_000082_000019_2': 0,
 'aachen_000097_000019_5': 0,
 'frankfurt_000001_055306_8': 0,
 'cologne_000139_000019_4': 0,
 'frankfurt_000001_046272_2': 0,
 'bremen_000140_000019_4': 0,
 'aachen_000020_000019_7': 0,
 'frankfurt_000001_011162_19': 0,
 'bremen_000220_000019_5': 0,
 'frankfurt_000001_066092_0': 0,
 'erfurt_000050_000019_4': 5,
 'frankfurt_000001_073088_1': 0,
 'hanover_000000_052512_0': 0,
 'hanover_000000_031144_2': 0,
 'frankfurt_000001_028335_3': 0,
 'aachen_000019_000019_27': 0,
 'cologne_000137_000019_2': 0,
 'frankfurt_000001_034047_6': 0,
 'aachen_000048_000019_3': 0,
 'hamburg_000000_037279_19': 0,
 'hanover_000000_027650_19': 0,
 'darmstadt_000055_000019_7': 0,
 'cologne_000138_000019_0': 0,
 'cologne_000002_000019_1': 0,
 'aachen_000111_000019_17': 1,
 'frankfurt_000001_034047_17': 0,
 'bremen_000063_000019_0': 0,
 'bremen_000201_000019_9': 0,
 'darmstadt_000025_000019_0': 0,
 'cologne_000152_000019_0': 0,
 'frankfurt_000001_049770_14': 0,
 'cologne_000129_000019_9': 0,
 'aachen_000033_000019_4': 0,
 'bremen_000084_000019_2': 0,
 'erfurt_000043_000019_3': 0,
 'hamburg_000000_105724_19': 1,
 'dusseldorf_000172_000019_4': 1,
 'erfurt_000091_000019_0': 6,
 'frankfurt_000001_034047_4': 0,
 'hanover_000000_023239_6': 4,
 'frankfurt_000001_048654_2': 0,
 'jena_000021_000019_0': 20,
 'hanover_000000_026804_4': 0,
 'hamburg_000000_053776_8': 3,
 'hanover_000000_029455_2': 0,
 'aachen_000019_000019_26': 0,
 'hanover_000000_038855_0': 4,
 'aachen_000042_000019_0': 5,
 'aachen_000017_000019_13': 1,
 'frankfurt_000001_038844_3': 1,
 'hamburg_000000_096624_5': 5,
 'aachen_000161_000019_8': 5,
 'cologne_000105_000019_4': 4,
 'bremen_000201_000019_8': 14,
 'hanover_000000_040294_9': 3,
 'erfurt_000011_000019_2': 2,
 'bochum_000000_003674_1': 1,
 'erfurt_000055_000019_8': 3,
 'bremen_000218_000019_3': 7,
 'hanover_000000_030889_3': 4,
 'cologne_000138_000019_1': 70,
 'hanover_000000_009420_7': 0,
 'erfurt_000050_000019_2': 25,
 'erfurt_000083_000019_3': 26,
 'aachen_000071_000019_16': 57,
 'aachen_000017_000019_12': 8,
 'aachen_000046_000019_1': 73,
 'bremen_000100_000019_9': 71}

In [17]:
match_ranks_df = pd.DataFrame.from_dict(match_ranks, orient='index', columns=['rank'])
match_ranks_df

                            rank
frankfurt_000001_057954_0      0
frankfurt_000001_010600_1      0
aachen_000111_000019_19        0
jena_000000_000019_1           0
jena_000027_000019_7           0
bremen_000257_000019_3         0
bremen_000208_000019_4         0
aachen_000019_000019_14        0
frankfurt_000001_007857_2      0
bremen_000261_000019_1         0
frankfurt_000000_009969_5      0
frankfurt_000001_055387_5      0
hanover_000000_048379_5        0
hamburg_000000_096624_6        0
hamburg_000000_053563_35       0
dusseldorf_000078_000019_2     0
hanover_000000_028202_3        0
bremen_000287_000019_7         0
hanover_000000_013814_10       0
frankfurt_000001_028854_7      0
cologne_000129_000019_8        0
hamburg_000000_022524_3        0
bremen_000099_000019_9         0
hanover_000000_044344_1        0
dusseldorf_000045_000019_1     0
frankfurt_000000_022254_0      0
hanover_000000_013205_2        0
aachen_000048_000019_15        0
frankfurt_000001_055306_7      0
frankfurt_000001_007857_1      0
...                          ...
frankfurt_000001_034047_4      0
hanover_000000_023239_6        4
frankfurt_000001_048654_2      0
jena_000021_000019_0          20
hanover_000000_026804_4        0
hamburg_000000_053776_8        3
hanover_000000_029455_2        0
aachen_000019_000019_26        0
hanover_000000_038855_0        4
aachen_000042_000019_0         5
aachen_000017_000019_13        1
frankfurt_000001_038844_3      1
hamburg_000000_096624_5        5
aachen_000161_000019_8         5
cologne_000105_000019_4        4
bremen_000201_000019_8        14
hanover_000000_040294_9        3
erfurt_000011_000019_2         2
bochum_000000_003674_1         1
erfurt_000055_000019_8         3
bremen_000218_000019_3         7
hanover_000000_030889_3        4
cologne_000138_000019_1       70
hanover_000000_009420_7        0
erfurt_000050_000019_2        25
erfurt_000083_000019_3        26
aachen_000071_000019_16       57
aachen_000017_000019_12        8
aachen_000046_000019_1        73
bremen_000100_000019_9        71

[109 rows x 1 columns]

In [18]:
match_ranks_df
#top 0
top_0_count = len(match_ranks_df[match_ranks_df['rank'] == 0])
print('top 0 count: ', top_0_count)
print('top 0 percent: ', round(top_0_count / len(images), 4))
print()
#top 5
top_5_count = len(match_ranks_df[match_ranks_df['rank'] < 5])
print('top 5 count: ', top_5_count)
print('top 5 percent: ', round(top_5_count / len(images), 4))
print()
#top 120
top_120_count = len(match_ranks_df[match_ranks_df['rank'] < 120])
print('top 120 count: ', top_120_count)
print('top 120 percent: ', round(top_120_count / len(images), 4))

top 0 count:  80
top 0 percent:  0.7339

top 5 count:  94
top 5 percent:  0.8624

top 120 count:  109
top 120 percent:  1.0

In [19]:
ranks = list(match_ranks.values())
ranks

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 6,
 0,
 4,
 0,
 20,
 0,
 3,
 0,
 0,
 4,
 5,
 1,
 1,
 5,
 5,
 4,
 14,
 3,
 2,
 1,
 3,
 7,
 4,
 70,
 0,
 25,
 26,
 57,
 8,
 73,
 71]

In [20]:
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (20,4)

num_bins = 120 #240 #1200

fig, ax = plt.subplots()

# the histogram of the data
n, bins, patches = ax.hist(ranks, num_bins, density=False)

# ax.plot(bins, y, '--')
ax.set_xlabel('Ranks')
ax.set_ylabel('Counts')
ax.set_title('Ranks of Generated-Original Image Matches')
# .ylim(20)

# Tweak spacing to prevent clipping of ylabel
# fig.tight_layout()
plt.show()

### MATCHING DISTANCES

In [21]:
match_distances = [tup[1] for tup in distances if tup[0][0] == tup[0][1]]

In [22]:
print(match_distances[0])
print(match_distances[-1])

0.0885
0.3843

In [23]:
import pandas as pd

In [24]:
md = pd.DataFrame(match_distances)

In [25]:
md.describe()

                0
count  109.000000
mean     0.217014
std      0.069916
min      0.088500
25%      0.166100
50%      0.206800
75%      0.254500
max      0.384300

### RANK 0 F1

In [26]:
max_match_dist = md.max().item()
max_match_dist

0.3843

In [27]:
ranks_binary = [True if r==0 else False for r in ranks]
# ranks_binary

y_true = [True for r in ranks]
# len(y_true)

f1 = sklearn.metrics.f1_score(y_true, ranks_binary, average='binary')
print('Rank 0 - F1 Score:', round(f1, 4))

Rank 0 - F1 Score: 0.8466

### THRESHOLD

In [28]:
max_match_dist = md.max().item()
max_match_dist

0.3843

In [29]:
dist_df = pd.DataFrame(distances)
dist_df.head()
try:
    dist_df[['target', 'image']] = pd.DataFrame(dist_df[0].tolist(), index=dist_df.index)
    dist_df = dist_df.rename(columns={0: "data", 1: "dist"})
except:
    pass
dist_df['match'] = dist_df['target'] == dist_df['image']

In [30]:
dist_df

,data,dist,target,image,match
0,"(frankfurt_000001_057954_0, frankfurt_000001_0...",0.0885,frankfurt_000001_057954_0,frankfurt_000001_057954_0,True
1,"(frankfurt_000001_010600_1, frankfurt_000001_0...",0.0962,frankfurt_000001_010600_1,frankfurt_000001_010600_1,True
2,"(aachen_000111_000019_19, aachen_000111_000019...",0.0974,aachen_000111_000019_19,aachen_000111_000019_19,True
3,"(jena_000000_000019_1, jena_000000_000019_1)",0.1035,jena_000000_000019_1,jena_000000_000019_1,True
4,"(jena_000027_000019_7, jena_000027_000019_7)",0.1043,jena_000027_000019_7,jena_000027_000019_7,True
5,"(bremen_000257_000019_3, bremen_000257_000019_3)",0.1084,bremen_000257_000019_3,bremen_000257_000019_3,True
6,"(bremen_000208_000019_4, bremen_000208_000019_4)",0.1252,bremen_000208_000019_4,bremen_000208_000019_4,True
7,"(aachen_000019_000019_14, aachen_000019_000019...",0.1259,aachen_000019_000019_14,aachen_000019_000019_14,True
8,"(frankfurt_000001_007857_2, frankfurt_000001_0...",0.1274,frankfurt_000001_007857_2,frankfurt_000001_007857_2,True
9,"(bremen_000261_000019_1, bremen_000261_000019_1)",0.1292,bremen_000261_000019_1,bremen_000261_000019_1,True
10,"(frankfurt_000000_009969_5, frankfurt_000000_0...",0.1308,frankfurt_000000_009969_5,frankfurt_000000_009969_5,True
11,"(frankfurt_000001_055387_5, frankfurt_000001_0...",0.1332,frankfurt_000001_055387_5,frankfurt_000001_055387_5,True
12,"(hanover_000000_048379_5, hanover_000000_04837...",0.1345,hanover_000000_048379_5,hanover_000000_048379_5,True
13,"(hamburg_000000_096624_6, hamburg_000000_09662...",0.1396,hamburg_000000_096624_6,hamburg_000000_096624_6,True
14,"(hamburg_000000_053563_35, hamburg_000000_0535...",0.1435,hamburg_000000_053563_35,hamburg_000000_053563_35,True
15,"(dusseldorf_000078_000019_2, dusseldorf_000078...",0.1462,dusseldorf_000078_000019_2,dusseldorf_000078_000019_2,True
16,"(hanover_000000_028202_3, hanover_000000_02820...",0.1483,hanover_000000_028202_3,hanover_000000_028202_3,True
17,"(bremen_000287_000019_7, bremen_000287_000019_7)",0.1487,bremen_000287_000019_7,bremen_000287_000019_7,True
18,"(hanover_000000_013814_10, hanover_000000_0138...",0.1487,hanover_000000_013814_10,hanover_000000_013814_10,True
19,"(jena_000021_000019_0, dusseldorf_000015_00001...",0.1500,jena_000021_000019_0,dusseldorf_000015_000019_0,False
20,"(frankfurt_000001_028854_7, frankfurt_000001_0...",0.1503,frankfurt_000001_028854_7,frankfurt_000001_028854_7,True
21,"(cologne_000129_000019_8, cologne_000129_00001...",0.1527,cologne_000129_000019_8,cologne_000129_000019_8,True
22,"(hamburg_000000_022524_3, hamburg_000000_02252...",0.1535,hamburg_000000_022524_3,hamburg_000000_022524_3,True
23,"(jena_000000_000019_1, jena_000000_000019_0)",0.1539,jena_000000_000019_1,jena_000000_000019_0,False
24,"(bremen_000099_000019_9, bremen_000099_000019_9)",0.1558,bremen_000099_000019_9,bremen_000099_000019_9,True
25,"(hanover_000000_044344_1, hanover_000000_04434...",0.1579,hanover_000000_044344_1,hanover_000000_044344_1,True
26,"(dusseldorf_000045_000019_1, dusseldorf_000045...",0.1580,dusseldorf_000045_000019_1,dusseldorf_000045_000019_1,True
27,"(frankfurt_000000_022254_0, frankfurt_000000_0...",0.1592,frankfurt_000000_022254_0,frankfurt_000000_022254_0,True
28,"(hanover_000000_013205_2, hanover_000000_01320...",0.1657,hanover_000000_013205_2,hanover_000000_013205_2,True
29,"(aachen_000048_000019_15, aachen_000048_000019...",0.1661,aachen_000048_000019_15,aachen_000048_000019_15,True
...,...,...,...,...,...
130770,"(erfurt_000050_000019_4, cologne_000105_000019_3)",0.6608,erfurt_000050_000019_4,cologne_000105_000019_3,False
130771,"(hanover_000000_031144_2, cologne_000105_00001...",0.6609,hanover_000000_031144_2,cologne_000105_000019_4,False
130772,"(hamburg_000000_053776_8, frankfurt_000000_011...",0.6620,hamburg_000000_053776_8,frankfurt_000000_011461_1,False
130773,"(jena_000027_000019_7, jena_000089_000019_8)",0.6623,jena_000027_000019_7,jena_000089_000019_8,False
130774,"(bremen_000257_000019_3, zurich_000070_000019_20)",0.6624,bremen_000257_000019_3,zurich_000070_000019_20,False
130775,"(darmstadt_000025_000019_0, hanover_000000_013...",0.6641,darmstadt_000025_000019_0,hanover_000000_013814_10,False
130776,"(erfurt_000050_000019_4, strasbourg_000001_050...",0.6643,erfurt_000050_000019_4,strasbourg_000001_050098_13,False
130777,"(bremen_000257_000019_3, munster_000148_000019...",0.6647,bremen_000257_000019_3,munster_000148_000019_18,False
130778,"(frankfurt_000001_055306_8, erfurt_000076_0000...",0.6652,frankfurt_000001_055306_8,erfurt_000076_000019_7,False
130779,"(erfurt_000050_000019_4, krefeld_000000_015868_2)",0.6659,erfurt_000050_000019_4,krefeld_000000_015868_2,False
130780,"(aachen_000097_000019_5, dusseldorf_000015_000...",0.6661,aachen_000097_000019_5,dusseldorf_000015_000019_0,False
130781,"(erfurt_000050_000019_4, zurich_000003_000019_5)",0.6668,erfurt_000050_000019_4,zurich_000003_000019_5,False
130782,"(darmstadt_000025_000019_0, jena_000019_000019_0)",0.6668,darmstadt_000025_000019_0,jena_000019_000019_0,False
130783,"(bremen_000084_000019_2, strasbourg_000000_029...",0.6673,bremen_000084_000019_2,strasbourg_000000_029339_15,False
130784,"(darmstadt_000055_000019_7, hamburg_000000_103...",0.6674,darmstadt_000055_000019_7,hamburg_000000_103075_54,False
130785,"(erfurt_000050_000019_4, hamburg_000000_098400...",0.6677,erfurt_000050_000019_4,hamburg_000000_098400_23,False
130786,"(aachen_000017_000019_12, strasbourg_000000_03...",0.6683,aachen_000017_000019_12,strasbourg_000000_035713_1,False
130787,"(bremen_000084_000019_2, dusseldorf_000015_000...",0.6685,bremen_000084_000019_2,dusseldorf_000015_000019_0,False
130788,"(jena_000027_000019_7, dusseldorf_000015_00001...",0.6686,jena_000027_000019_7,dusseldorf_000015_000019_0,False
130789,"(cologne_000138_000019_0, dusseldorf_000176_00...",0.6687,cologne_000138_000019_0,dusseldorf_000176_000019_8,False
130790,"(erfurt_000050_000019_4, aachen_000020_000019_8)",0.6708,erfurt_000050_000019_4,aachen_000020_000019_8,False
130791,"(frankfurt_000001_049770_14, stuttgart_000157_...",0.6716,frankfurt_000001_049770_14,stuttgart_000157_000019_1,False
130792,"(erfurt_000050_000019_4, hamburg_000000_081299...",0.6721,erfurt_000050_000019_4,hamburg_000000_081299_11,False
130793,"(erfurt_000050_000019_4, jena_000055_000019_4)",0.6722,erfurt_000050_000019_4,jena_000055_000019_4,False
130794,"(jena_000021_000019_0, jena_000019_000019_0)",0.6738,jena_000021_000019_0,jena_000019_000019_0,False
130795,"(dusseldorf_000045_000019_1, dusseldorf_000015...",0.6761,dusseldorf_000045_000019_1,dusseldorf_000015_000019_0,False
130796,"(erfurt_000050_000019_4, erfurt_000069_000019_4)",0.6762,erfurt_000050_000019_4,erfurt_000069_000019_4,False
130797,"(jena_000027_000019_7, frankfurt_000000_020321_5)",0.6782,jena_000027_000019_7,frankfurt_000000_020321_5,False
130798,"(erfurt_000050_000019_4, weimar_000095_000019_2)",0.6799,erfurt_000050_000019_4,weimar_000095_000019_2,False
130799,"(erfurt_000050_000019_4, jena_000019_000019_0)",0.6987,erfurt_000050_000019_4,jena_000019_000019_0,False

In [31]:
splits = np.linspace(0,max_match_dist, num=20)
splits = [round(s,2) for s in splits]
splits[-1] += 0.01
splits

[0.0,
 0.02,
 0.04,
 0.06,
 0.08,
 0.1,
 0.12,
 0.14,
 0.16,
 0.18,
 0.2,
 0.22,
 0.24,
 0.26,
 0.28,
 0.3,
 0.32,
 0.34,
 0.36,
 0.39]

## All images

In [32]:
y_true = dist_df['match']
f1_splits = {}

for threshold in splits:
    print('THRESHOLD:', threshold)
    y_pred = dist_df['dist'] <= threshold
    f1 = sklearn.metrics.f1_score(y_true, y_pred, average='binary')
    f1_splits[threshold] = f1
    print('F1', round(f1, 4))
    print()

THRESHOLD: 0.0
F1 0.0

THRESHOLD: 0.02
F1 0.0

THRESHOLD: 0.04
F1 0.0

THRESHOLD: 0.06
F1 0.0

THRESHOLD: 0.08
F1 0.0

THRESHOLD: 0.1
F1 0.0536

THRESHOLD: 0.12
F1 0.1043

THRESHOLD: 0.14
F1 0.2276

THRESHOLD: 0.16
F1 0.3796

THRESHOLD: 0.18
F1 0.4658

THRESHOLD: 0.2
F1 0.5549

THRESHOLD: 0.22
F1 0.5865

THRESHOLD: 0.24
F1 0.5639

THRESHOLD: 0.26
F1 0.4553

THRESHOLD: 0.28
F1 0.3113

THRESHOLD: 0.3
F1 0.204

THRESHOLD: 0.32

/Users/kaleighohara/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

F1 0.1341

THRESHOLD: 0.34
F1 0.0791

THRESHOLD: 0.36
F1 0.0475

THRESHOLD: 0.39
F1 0.0227

In [33]:
max(f1_splits.items(), key = lambda k : k[1])

(0.22, 0.5865384615384615)

## Matches Only

In [34]:
dist_match_df = dist_df[dist_df['match']== True]
dist_match_df

,data,dist,target,image,match
0,"(frankfurt_000001_057954_0, frankfurt_000001_0...",0.0885,frankfurt_000001_057954_0,frankfurt_000001_057954_0,True
1,"(frankfurt_000001_010600_1, frankfurt_000001_0...",0.0962,frankfurt_000001_010600_1,frankfurt_000001_010600_1,True
2,"(aachen_000111_000019_19, aachen_000111_000019...",0.0974,aachen_000111_000019_19,aachen_000111_000019_19,True
3,"(jena_000000_000019_1, jena_000000_000019_1)",0.1035,jena_000000_000019_1,jena_000000_000019_1,True
4,"(jena_000027_000019_7, jena_000027_000019_7)",0.1043,jena_000027_000019_7,jena_000027_000019_7,True
5,"(bremen_000257_000019_3, bremen_000257_000019_3)",0.1084,bremen_000257_000019_3,bremen_000257_000019_3,True
6,"(bremen_000208_000019_4, bremen_000208_000019_4)",0.1252,bremen_000208_000019_4,bremen_000208_000019_4,True
7,"(aachen_000019_000019_14, aachen_000019_000019...",0.1259,aachen_000019_000019_14,aachen_000019_000019_14,True
8,"(frankfurt_000001_007857_2, frankfurt_000001_0...",0.1274,frankfurt_000001_007857_2,frankfurt_000001_007857_2,True
9,"(bremen_000261_000019_1, bremen_000261_000019_1)",0.1292,bremen_000261_000019_1,bremen_000261_000019_1,True
10,"(frankfurt_000000_009969_5, frankfurt_000000_0...",0.1308,frankfurt_000000_009969_5,frankfurt_000000_009969_5,True
11,"(frankfurt_000001_055387_5, frankfurt_000001_0...",0.1332,frankfurt_000001_055387_5,frankfurt_000001_055387_5,True
12,"(hanover_000000_048379_5, hanover_000000_04837...",0.1345,hanover_000000_048379_5,hanover_000000_048379_5,True
13,"(hamburg_000000_096624_6, hamburg_000000_09662...",0.1396,hamburg_000000_096624_6,hamburg_000000_096624_6,True
14,"(hamburg_000000_053563_35, hamburg_000000_0535...",0.1435,hamburg_000000_053563_35,hamburg_000000_053563_35,True
15,"(dusseldorf_000078_000019_2, dusseldorf_000078...",0.1462,dusseldorf_000078_000019_2,dusseldorf_000078_000019_2,True
16,"(hanover_000000_028202_3, hanover_000000_02820...",0.1483,hanover_000000_028202_3,hanover_000000_028202_3,True
17,"(bremen_000287_000019_7, bremen_000287_000019_7)",0.1487,bremen_000287_000019_7,bremen_000287_000019_7,True
18,"(hanover_000000_013814_10, hanover_000000_0138...",0.1487,hanover_000000_013814_10,hanover_000000_013814_10,True
20,"(frankfurt_000001_028854_7, frankfurt_000001_0...",0.1503,frankfurt_000001_028854_7,frankfurt_000001_028854_7,True
21,"(cologne_000129_000019_8, cologne_000129_00001...",0.1527,cologne_000129_000019_8,cologne_000129_000019_8,True
22,"(hamburg_000000_022524_3, hamburg_000000_02252...",0.1535,hamburg_000000_022524_3,hamburg_000000_022524_3,True
24,"(bremen_000099_000019_9, bremen_000099_000019_9)",0.1558,bremen_000099_000019_9,bremen_000099_000019_9,True
25,"(hanover_000000_044344_1, hanover_000000_04434...",0.1579,hanover_000000_044344_1,hanover_000000_044344_1,True
26,"(dusseldorf_000045_000019_1, dusseldorf_000045...",0.1580,dusseldorf_000045_000019_1,dusseldorf_000045_000019_1,True
27,"(frankfurt_000000_022254_0, frankfurt_000000_0...",0.1592,frankfurt_000000_022254_0,frankfurt_000000_022254_0,True
28,"(hanover_000000_013205_2, hanover_000000_01320...",0.1657,hanover_000000_013205_2,hanover_000000_013205_2,True
29,"(aachen_000048_000019_15, aachen_000048_000019...",0.1661,aachen_000048_000019_15,aachen_000048_000019_15,True
30,"(frankfurt_000001_055306_7, frankfurt_000001_0...",0.1699,frankfurt_000001_055306_7,frankfurt_000001_055306_7,True
31,"(frankfurt_000001_007857_1, frankfurt_000001_0...",0.1712,frankfurt_000001_007857_1,frankfurt_000001_007857_1,True
...,...,...,...,...,...
195,"(frankfurt_000001_034047_4, frankfurt_000001_0...",0.2497,frankfurt_000001_034047_4,frankfurt_000001_034047_4,True
208,"(hanover_000000_023239_6, hanover_000000_02323...",0.2517,hanover_000000_023239_6,hanover_000000_023239_6,True
224,"(frankfurt_000001_048654_2, frankfurt_000001_0...",0.2545,frankfurt_000001_048654_2,frankfurt_000001_048654_2,True
237,"(jena_000021_000019_0, jena_000021_000019_0)",0.2562,jena_000021_000019_0,jena_000021_000019_0,True
239,"(hanover_000000_026804_4, hanover_000000_02680...",0.2563,hanover_000000_026804_4,hanover_000000_026804_4,True
291,"(hamburg_000000_053776_8, hamburg_000000_05377...",0.2650,hamburg_000000_053776_8,hamburg_000000_053776_8,True
305,"(hanover_000000_029455_2, hanover_000000_02945...",0.2673,hanover_000000_029455_2,hanover_000000_029455_2,True
351,"(aachen_000019_000019_26, aachen_000019_000019...",0.2717,aachen_000019_000019_26,aachen_000019_000019_26,True
466,"(hanover_000000_038855_0, hanover_000000_03885...",0.2810,hanover_000000_038855_0,hanover_000000_038855_0,True
551,"(aachen_000042_000019_0, aachen_000042_000019_0)",0.2873,aachen_000042_000019_0,aachen_000042_000019_0,True
622,"(aachen_000017_000019_13, aachen_000017_000019...",0.2918,aachen_000017_000019_13,aachen_000017_000019_13,True
649,"(frankfurt_000001_038844_3, frankfurt_000001_0...",0.2931,frankfurt_000001_038844_3,frankfurt_000001_038844_3,True
935,"(hamburg_000000_096624_5, hamburg_000000_09662...",0.3065,hamburg_000000_096624_5,hamburg_000000_096624_5,True
1017,"(aachen_000161_000019_8, aachen_000161_000019_8)",0.3091,aachen_000161_000019_8,aachen_000161_000019_8,True
1056,"(cologne_000105_000019_4, cologne_000105_00001...",0.3104,cologne_000105_000019_4,cologne_000105_000019_4,True
1058,"(bremen_000201_000019_8, bremen_000201_000019_8)",0.3104,bremen_000201_000019_8,bremen_000201_000019_8,True
1129,"(hanover_000000_040294_9, hanover_000000_04029...",0.3128,hanover_000000_040294_9,hanover_000000_040294_9,True
1131,"(erfurt_000011_000019_2, erfurt_000011_000019_2)",0.3129,erfurt_000011_000019_2,erfurt_000011_000019_2,True
1224,"(bochum_000000_003674_1, bochum_000000_003674_1)",0.3159,bochum_000000_003674_1,bochum_000000_003674_1,True
1267,"(erfurt_000055_000019_8, erfurt_000055_000019_8)",0.3174,erfurt_000055_000019_8,erfurt_000055_000019_8,True
1512,"(bremen_000218_000019_3, bremen_000218_000019_3)",0.3234,bremen_000218_000019_3,bremen_000218_000019_3,True
1583,"(hanover_000000_030889_3, hanover_000000_03088...",0.3248,hanover_000000_030889_3,hanover_000000_030889_3,True
2408,"(cologne_000138_000019_1, cologne_000138_00001...",0.3391,cologne_000138_000019_1,cologne_000138_000019_1,True
2503,"(hanover_000000_009420_7, hanover_000000_00942...",0.3406,hanover_000000_009420_7,hanover_000000_009420_7,True
3845,"(erfurt_000050_000019_2, erfurt_000050_000019_2)",0.3564,erfurt_000050_000019_2,erfurt_000050_000019_2,True
4377,"(erfurt_000083_000019_3, erfurt_000083_000019_3)",0.3610,erfurt_000083_000019_3,erfurt_000083_000019_3,True
5356,"(aachen_000071_000019_16, aachen_000071_000019...",0.3682,aachen_000071_000019_16,aachen_000071_000019_16,True
6165,"(aachen_000017_000019_12, aachen_000017_000019...",0.3734,aachen_000017_000019_12,aachen_000017_000019_12,True
6664,"(aachen_000046_000019_1, aachen_000046_000019_1)",0.3765,aachen_000046_000019_1,aachen_000046_000019_1,True
8152,"(bremen_000100_000019_9, bremen_000100_000019_9)",0.3843,bremen_000100_000019_9,bremen_000100_000019_9,True

In [35]:
y_true = dist_match_df['match']
match_f1_splits = {}

for threshold in splits:
    print('THRESHOLD:', threshold)
    y_pred = dist_match_df['dist'] <= threshold
    match_f1 = sklearn.metrics.f1_score(y_true, y_pred, average='binary')
    match_f1_splits[threshold] = match_f1
    print('matches F1', round(match_f1, 4))
    print()

THRESHOLD: 0.0
matches F1 0.0

THRESHOLD: 0.02
matches F1 0.0

THRESHOLD: 0.04
matches F1 0.0

THRESHOLD: 0.06
matches F1 0.0

THRESHOLD: 0.08
matches F1 0.0

THRESHOLD: 0.1
matches F1 0.0536

THRESHOLD: 0.12
matches F1 0.1043

THRESHOLD: 0.14
matches F1 0.2276

THRESHOLD: 0.16
matches F1 0.3852

THRESHOLD: 0.18
matches F1 0.4755

THRESHOLD: 0.2
matches F1 0.6115

THRESHOLD: 0.22
matches F1 0.7176

THRESHOLD: 0.24
matches F1 0.8152

THRESHOLD: 0.26
matches F1 0.8705

THRESHOLD: 0.28
matches F1 0.8878

THRESHOLD: 0.3
matches F1 0.91

THRESHOLD: 0.32
matches F1 0.9519

THRESHOLD: 0.34
matches F1 0.9668

THRESHOLD: 0.36
matches F1 0.9765

THRESHOLD: 0.39
matches F1 1.0

/Users/kaleighohara/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [36]:
print('threshold, f1')
max(match_f1_splits.items(), key = lambda k : k[1])

threshold, f1

(0.39, 1.0)

In [37]:
dist_match_df['dist'].mean()

0.21701376146788987